.Game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.GameTop {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
}
.GameTop input {
	width: 50px;
	height: 50px;
	font-size: 30px;
	padding-left: 15px;
	box-sizing: border-box;
	margin-left: 10px;
}

.Alert {
	padding-top: 10px;
	color: red;
	font-size: 16px;
	height: 20px;
}
.Draw {
	width: 80%;
	border-top: 1px grey solid;
	padding-top: 10px;
	font-size: 14px;
}
.Title {
	padding-top: 40px;
	font-size: 40px;
}
.Exp {
	font-size: 17px;
	color: forestgreen;
}
.CopyRight {
	color: black;
	font-size: 12px;
	padding-top: 10px;
}
.MatchWord {
	width: 300px;
	height: 50px;
	box-sizing: border-box;
	padding-top: 10px;
	font-size: 20px;
	margin-bottom: 30px;
	background-color: #cbe896;
	border-radius: 5px;
}
canvas {
	margin-left: auto;
	margin-right: auto;
}
.startOver {
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #a18276;
	border: 1px black solid;
	border-radius: 5px;
	font-weight: bold;
	color: white;
}
